In [7]:
from google.colab import drive
import pandas as pd

In [8]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
df = pd.read_csv('/content/drive/MyDrive/data/earthquake.txt')

In [10]:
df.head()

         Date      Time  Latitude  ...  Location Source Magnitude Source     Status
0  01/02/1965  13:44:18    19.246  ...           ISCGEM           ISCGEM  Automatic
1  01/04/1965  11:29:49     1.863  ...           ISCGEM           ISCGEM  Automatic
2  01/05/1965  18:05:58   -20.579  ...           ISCGEM           ISCGEM  Automatic
3  01/08/1965  18:49:43   -59.076  ...           ISCGEM           ISCGEM  Automatic
4  01/09/1965  13:32:50    11.938  ...           ISCGEM           ISCGEM  Automatic

[5 rows x 21 columns]

In [11]:
df.shape

(16300, 21)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from mpl_toolkits.basemap import Basemap

In [4]:
import warnings
import matplotlib.cbook

In [5]:
# here the dataset contains all the unnecessary features.
#lets do some fetaure selection

In [12]:
data = df[['Date','Time','Latitude','Longitude','Depth','Magnitude']]

In [13]:
data.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [14]:
data.isnull().sum()

Date         0
Time         0
Latitude     0
Longitude    0
Depth        0
Magnitude    0
dtype: int64

In [15]:
# no value of the consideared data is missing.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16300 entries, 0 to 16299
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16300 non-null  object
 1   Time       16300 non-null  object
 2   Latitude   16300 non-null  float64
 3   Longitude  16300 non-null  float64
 4   Depth      16300 non-null  float64
 5   Magnitude  16300 non-null  float64
dtypes: float64(4), object(2)
memory usage: 764.2+ KB

In [17]:
# we perform the scaling of the data.
#Here, we convert the data time to unix time in seconds

In [27]:
import datetime
import time

# Below is the text code which shows how i converted the date time into unix time .

In [35]:
#date_example = data['Date'][0] +', ' + data['Time'][0]

In [36]:
#date_example

'01/02/1965, 13:44:18'

In [37]:
#date_format = datetime.datetime.strptime(date_example,
                                         "%m/%d/%Y, %H:%M:%S")

In [38]:
#unix_time = datetime.datetime.timestamp(date_format)
#print(unix_time)

-157630542.0

In [40]:
timestamp = []
for i in range(0,len(data)):
  try:
    date_example = data['Date'][i] +', ' + data['Time'][i]
    date_format = datetime.datetime.strptime(date_example,
                                         "%m/%d/%Y, %H:%M:%S")
    unix_time = datetime.datetime.timestamp(date_format)
    timestamp.append(unix_time)
  except ValueError:
    timestamp.append('ValueError')

In [41]:
timeStamp = pd.Series(timestamp)
data['Timestamp'] = timeStamp.values
df1= data.drop(['Date', 'Time'], axis=1)
df1 = df1[df1.Timestamp != 'ValueError']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Latitude  Longitude  Depth  Magnitude    Timestamp
0    19.246    145.616  131.6        6.0 -1.57631e+08
1     1.863    127.352   80.0        5.8 -1.57466e+08
2   -20.579   -173.972   20.0        6.2 -1.57356e+08
3   -59.076    -23.557   15.0        5.8 -1.57094e+08
4    11.938    126.427   15.0        5.8 -1.57026e+08

In [42]:
df1.head()

   Latitude  Longitude  Depth  Magnitude    Timestamp
0    19.246    145.616  131.6        6.0 -1.57631e+08
1     1.863    127.352   80.0        5.8 -1.57466e+08
2   -20.579   -173.972   20.0        6.2 -1.57356e+08
3   -59.076    -23.557   15.0        5.8 -1.57094e+08
4    11.938    126.427   15.0        5.8 -1.57026e+08

In [45]:
df1.shape

(16298, 5)